/* Burger menu custom styles */
:root {
  --blue: #2D00A1;
}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 26px;
}

/* Outline for burger button focus state */
.bm-burger-button button:focus {
  outline: 2px solid #c94e50;
  outline-offset: 8px;
}

/* Background color for burger bars focus state */
.bm-burger-button button:focus + span span.bm-burger-bars{
  background-color: #c94e50;
}

.bm-burger-bars {
  background: #fff;
  height: 3px !important;
  opacity: 1 !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  background: var(--blue);
  padding: 0 30px;
}

.bm-menu a {
  color: #b8b7ad;
}
  
.bm-menu a:hover,
.bm-menu a:focus {
  color: #c94e50;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
}

.bm-item-list a {
  font-family: 'Bebas Neue';
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: white;
}

.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
}

.bm-item-list-menu {
  padding: 50px 0;
}

.bm-item:focus {
  outline: none;
}

.bm-item {
  display: flex !important;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 2.5em 30px 0;
}

.bm-cross-button {
  width: 25px !important;
  height: 25px !important;
  top: 25px !important;
  left: 25px !important;
}

/* Outline for cross button focus state */
.bm-cross-button button:focus {
  outline: 2px solid #c94e50;
  outline-offset: 2px;
}

/* Background color for cross focus state */
.bm-cross-button button:focus + span span.bm-cross {
  background-color: #c94e50;
}

/* Full size menu */
.bm-menu-wrap {
  width: 100%!important;
  top: 0;
  right: 0 !important;
}