html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Local Fonts */
@font-face {
  font-family: "Bebas Neue Pro";
  src: url("/fonts/BebasNeuePro/Bebas Neue Pro Light.otf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("/fonts/BebasNeuePro/Bebas Neue Pro Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("/fonts/BebasNeuePro/Bebas Neue Pro Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
