html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: Bebas Neue Pro Book;
  color: gray.soft;
}

span {
  font-family: Bebas Neue Pro;
  font-size: 32px;
  font-weight: 400;
}

/* Local Fonts */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue/BebasNeue-Light.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue/BebasNeue-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue/BebasNeue-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("/fonts/BebasNeuePro/Bebas Neue Pro Bold.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Pro Book";
  src: url("/fonts/BebasNeuePro/Bebas Neue Pro Book.otf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
